<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/layout :: head('Реєстрація')}"></head>
<body class="resume">
  <div th:replace="~{fragments/layout :: header}"></div>
  <div class="layout-content">
    <div class="container" style="max-width: 520px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><i class="fa fa-user-plus"></i> Вкажіть Ваші персональні дані</h4>
        </div>
        <div class="panel-body">
          <form th:action="@{/register}" th:object="${registrationForm}" method="post">
            <div class="form-group">
              <label for="uid">Логін (uid)</label>
              <input id="uid" th:field="*{uid}" type="text" class="form-control" required>
              <div th:if="${#fields.hasErrors('uid')}" class="text-danger" th:errors="*{uid}">Помилка</div>
            </div>
            <div class="form-group">
              <label for="firstName">Ім'я</label>
              <input id="firstName" th:field="*{firstName}" type="text" class="form-control" required>
              <div th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}">Помилка</div>
            </div>
            <div class="form-group">
              <label for="lastName">Прізвище</label>
              <input id="lastName" th:field="*{lastName}" type="text" class="form-control" required>
              <div th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}">Помилка</div>
            </div>
            <div class="form-group">
              <label for="password">Пароль</label>
              <input id="password" th:field="*{password}" type="password" class="form-control" required>
              <div th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}">Помилка</div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Повторіть пароль</label>
              <input id="confirmPassword" th:field="*{confirmPassword}" type="password" class="form-control" required>
              <div th:if="${#fields.hasErrors('confirmPassword')}" class="text-danger" th:errors="*{confirmPassword}">Помилка</div>
            </div>
            <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger">
              <ul>
                <li th:each="err : ${#fields.globalErrors()}" th:text="${err}">Паролі мають збігатися</li>
              </ul>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}" style="margin-top: 10px;"></div>
            <button type="submit" class="btn btn-success btn-block">Зареєструватися</button>
          </form>
          <div class="text-center" style="margin-top: 10px;">
            <a th:href="@{/login}">Уже є акаунт? Увійти</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="~{fragments/layout :: footer}"></div>
  <th:block th:replace="~{fragments/layout :: scripts}"></th:block>
</body>
</html>
