<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/layout :: head('Відновлення доступу')}"></head>
<body class="resume">
  <div th:replace="~{fragments/layout :: header}"></div>
  <div class="layout-content">
    <div class="container" style="max-width: 520px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><i class="fa fa-thumbs-up"></i> Запит оброблено</h4>
        </div>
        <div class="panel-body">
          <p>Якщо профіль існує, ви отримаєте посилання для відновлення доступу.</p>
          <div th:if="${restoreLink}" style="margin-top: 10px;">
            <a th:href="${restoreLink}" th:text="${restoreLink}">restore link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="~{fragments/layout :: footer}"></div>
  <th:block th:replace="~{fragments/layout :: scripts-base}"></th:block>
</body>
</html>
