<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/layout :: head('Відновлення доступу')}"></head>
<body class="resume">
  <div th:replace="~{fragments/layout :: header}"></div>
  <div class="layout-content">
    <div class="container" style="max-width: 520px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><i class="fa fa-unlock"></i> Відновлення доступу</h4>
        </div>
        <div class="panel-body">
          <form th:action="@{/restore}" th:object="${restoreAccessForm}" method="post">
            <div class="form-group">
              <label for="identifier">UID або email або phone</label>
              <input id="identifier" th:field="*{identifier}" type="text" class="form-control" required>
              <div th:if="${#fields.hasErrors('identifier')}" class="text-danger" th:errors="*{identifier}">Помилка</div>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div th:if="${param.invalid}" class="alert alert-danger" style="margin-top: 10px;">
              Невірний або застарілий токен відновлення
            </div>
            <button type="submit" class="btn btn-primary btn-block">Відновити</button>
          </form>
          <div class="text-center" style="margin-top: 10px;">
            <a th:href="@{/login}">Повернутися до входу</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="~{fragments/layout :: footer}"></div>
  <th:block th:replace="~{fragments/layout :: scripts-base}"></th:block>
</body>
</html>
