<div class="c-panel c-panel--default">
  <div class="c-panel__body">
    <h4 class="caption">Found {{ profiles.length }} profiles for '{{ query }}'</h4>
  </div>
</div>
<div class="l-row profiles">
  <div class="l-col l-col--xs-12">
    <div class="c-alert c-alert--info" *ngIf="!loading && profiles.length === 0">No results found.</div>
    <ng-container *ngFor="let profile of profiles">
      <app-profile-card [profile]="profile"></app-profile-card>
    </ng-container>
  </div>
  <div class="l-col l-col--xs-12 u-text-center" *ngIf="loading">
    <img src="/assets/img/large-loading.gif" alt="loading">
  </div>
</div>
