<header>
  <nav class="c-navbar c-navbar--default">
    <div class="l-container l-container--fluid">
      <div class="c-navbar__header">
        <button type="button" class="c-navbar__toggle is-collapsed" data-ui-toggle="collapse" data-ui-target="#main-nav" aria-expanded="false">
          <span class="u-sr-only">Toggle navigation</span>
          <span class="c-navbar__toggle-line"></span>
          <span class="c-navbar__toggle-line"></span>
          <span class="c-navbar__toggle-line"></span>
        </button>
        <a class="c-navbar__brand" routerLink="/welcome">My Resume</a>
      </div>
      <div class="c-collapse c-navbar__collapse" id="main-nav">
        <ul class="c-nav c-navbar__nav c-navbar__nav--right">
          <li *ngIf="!session?.authenticated"><a routerLink="/login">Sign in</a></li>
          <li *ngIf="!session?.authenticated"><a routerLink="/register">Register</a></li>
          <li *ngIf="session?.authenticated && session?.uid">
            <a [routerLink]="['/', session?.uid]">My profile</a>
          </li>
          <li *ngIf="session?.authenticated"><a routerLink="/edit/profile">Edit profile</a></li>
          <li *ngIf="session?.authenticated"><a routerLink="/account/password">Account</a></li>
          <li *ngIf="session?.authenticated"><a href="#" (click)="onLogout($event)">Sign out</a></li>
        </ul>
        <form class="c-navbar__form c-navbar__center" role="search" id="nav-search-form" (ngSubmit)="onSearch()">
          <div class="c-form__group" style="position: relative;">
            <input type="text" class="c-input" placeholder="Search" name="q" id="nav-search-input"
                   autocomplete="off" [(ngModel)]="searchQuery">
            <ul class="suggest-list c-dropdown__menu" id="nav-search-suggest" style="display:none;"></ul>
          </div>
          <button type="submit" class="c-button c-button--primary">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<div class="layout-content">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="layout-footer">
    <div class="l-container l-container--fluid">
      <p>&copy; 2026 My Resume. All rights reserved.</p>
    </div>
  </div>
</footer>

<div id="certificateViewer" class="c-modal is-fade" role="dialog">
  <div class="c-modal__dialog c-modal__dialog--lg">
    <div class="c-modal__content">
      <div class="c-modal__header">
        <button type="button" class="c-close" data-ui-dismiss="modal">&times;</button>
        <h4 class="c-modal__title">Certificate</h4>
      </div>
      <div class="c-modal__body">
        <img class="u-img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="Certificate image">
      </div>
    </div>
  </div>
</div>
