<div class="u-text-center" *ngIf="loading">
  <img src="/assets/img/large-loading.gif" alt="loading">
</div>

<div *ngIf="!loading && profile as profile">
  <div class="l-row profile">
    <div class="l-col l-col--xs-12 l-col--sm-6 l-col--md-4">
      <div class="c-panel c-panel--primary">
        <div class="c-panel__body">
          <a *ngIf="profile.ownProfile" routerLink="/edit/profile">
            <img class="u-img-responsive photo" [src]="photoLarge" [attr.alt]="fullName">
          </a>
          <img *ngIf="!profile.ownProfile" class="u-img-responsive photo" [src]="photoLarge" [attr.alt]="fullName">
          <h1 class="u-text-center">
            <span *ngIf="profile.ownProfile; else profileNamePlain">
              <a routerLink="/edit/profile" style="color:black;">{{ fullName }}</a>
            </span>
            <ng-template #profileNamePlain>
              <span>{{ fullName }}</span>
            </ng-template>
            <span *ngIf="!profile.completed" class="c-label c-label--warning" style="margin-left:8px;">Incomplete</span>
          </h1>
          <h6 class="u-text-center">
            <strong>{{ profile.city || '' }}</strong><span *ngIf="profile.city && profile.country">, </span><strong>{{ profile.country || '' }}</strong>
          </h6>
          <h6 class="u-text-center">
            <strong>Age:</strong> <span>{{ profile.age }}</span>
            <span *ngIf="profile.birthDay">, <strong>Birthday:</strong> <span>{{ formatFullDate(profile.birthDay) }}</span></span>
          </h6>
          <div class="c-list contacts" *ngIf="hasContactLinks">
            <a class="c-list__item" *ngFor="let item of contactItems(profile.contacts)"
               [href]="item.href" [attr.target]="item.external ? '_blank' : null"
               [attr.rel]="item.external ? 'noopener' : null">
              <i class="fa" [ngClass]="item.icon"></i> <span>{{ item.label }}</span>
            </a>
          </div>
        </div>
      </div>

      <div class="c-panel c-panel--primary u-hidden-xs" *ngIf="profile.languages?.length">
        <div class="c-panel__heading">
          <h3 class="c-panel__title">
            <i class="fa fa-language"></i> Foreign languages
            <a class="edit-block" *ngIf="profile.ownProfile" routerLink="/edit/languages">Edit</a>
          </h3>
        </div>
        <div class="c-panel__body">
          <div *ngFor="let language of profile.languages; trackBy: trackLanguage">
            <strong>{{ language.name || '' }}</strong>:
            <span>{{ language.level || '' }}</span>
            <span *ngIf="language.hasLanguageType && language.type"> (<i>{{ showLanguageType(language) }}</i>)</span>
            <br>
          </div>
        </div>
      </div>

      <div class="c-panel c-panel--primary u-hidden-xs" *ngIf="profile.hobbies?.length">
        <div class="c-panel__heading">
          <h3 class="c-panel__title">
            <i class="fa fa-heart"></i> Hobbies
            <a class="edit-block" *ngIf="profile.ownProfile" routerLink="/edit/hobbies">Edit</a>
          </h3>
        </div>
        <div class="c-panel__body">
          <div class="hobbies">
            <table class="c-table c-table--bordered">
              <tbody>
                <tr *ngFor="let hobby of profile.hobbies; trackBy: trackHobby">
                  <td><i class="fa hobby" [ngClass]="hobby.cssClassName ? 'hobby-' + hobby.cssClassName : ''"></i></td>
                  <td>{{ hobby.name || '' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="c-panel c-panel--primary u-hidden-xs" *ngIf="profile.info">
        <div class="c-panel__heading">
          <h3 class="c-panel__title">
            <i class="fa fa-info-circle"></i> Additional info
            <a class="edit-block" *ngIf="profile.ownProfile" routerLink="/edit/info">Edit</a>
          </h3>
        </div>
        <div class="c-panel__body u-text-justify">{{ profile.info }}</div>
      </div>
    </div>

    <div class="l-col l-col--xs-12 l-col--sm-6 l-col--md-8">
      <div class="c-panel c-panel--primary">
        <div class="c-panel__heading">
          <h3 class="c-panel__title">
            <i class="fa fa-bullseye"></i> Objective
            <a class="edit-block" *ngIf="profile.ownProfile" routerLink="/edit/profile" fragment="inputObjective">Edit</a>
          </h3>
        </div>
        <div class="c-panel__body">
          <h4>{{ profile.objective || '' }}</h4>
          <p>
            <strong>Summary:</strong><br>
            <span>{{ profile.summary || '' }}</span>
          </p>
        </div>
      </div>

      <div class="c-panel c-panel--primary" *ngIf="profile.skills?.length">
        <div class="c-panel__heading">
          <h3 class="c-panel__title">
            <i class="fa fa-code"></i> Technical Skills
            <a class="edit-block" *ngIf="profile.ownProfile" routerLink="/edit/skills">Edit</a>
          </h3>
        </div>
        <div class="c-panel__body">
          <table class="c-table c-table--striped c-table--bordered">
            <thead>
              <tr>
                <th style="width: 140px;">Category</th>
                <th>Frameworks and technologies</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let skill of profile.skills; trackBy: trackSkill">
                <td>{{ skill.category || '' }}</td>
                <td>{{ skill.value || '' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="c-panel c-panel--primary" *ngIf="profile.practics?.length">
        <div class="c-panel__heading">
          <h3 class="c-panel__title">
            <i class="fa fa-briefcase"></i> Practical experience
            <a class="edit-block" *ngIf="profile.ownProfile" routerLink="/edit/practics">Edit</a>
          </h3>
        </div>
        <div class="c-panel__body">
          <ul class="timeline">
            <li *ngFor="let practic of profile.practics; trackBy: trackPractic">
              <div class="timeline-badge danger">
                <i class="fa fa-briefcase"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">{{ formatPracticTitle(practic) }}</h4>
                  <p>
                    <small class="dates">
                      <i class="fa fa-calendar"></i>
                      <span>{{ formatMonthYear(practic.beginDate) }}</span>
                      -
                      <span *ngIf="practic.finish">{{ formatMonthYear(practic.finishDate) }}</span>
                      <strong class="c-label c-label--danger" *ngIf="!practic.finish">Current</strong>
                    </small>
                  </p>
                </div>
                <div class="timeline-body">
                  <p>
                    <strong>Responsibilities included:</strong>
                    <span>{{ practic.responsibilities || '' }}</span>
                  </p>
                  <p *ngIf="practic.demo">
                    <strong>Demo: </strong><a [href]="practic.demo">{{ practic.demo }}</a>
                  </p>
                  <p *ngIf="practic.src">
                    <strong>Source code: </strong><a [href]="practic.src">{{ practic.src }}</a>
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="c-panel c-panel--primary certificates" *ngIf="profile.certificates?.length">
        <div class="c-panel__heading">
          <h3 class="c-panel__title">
            <i class="fa fa-certificate"></i> Certificates
            <a class="edit-block" *ngIf="profile.ownProfile" routerLink="/edit/certificates">Edit</a>
          </h3>
        </div>
        <div class="c-panel__body">
          <a class="c-thumbnail certificate-link" href="#" *ngFor="let certificate of profile.certificates; trackBy: trackCertificate"
             [attr.data-title]="certificate.name || ''" [attr.data-url]="certificate.largeUrl || ''">
            <img class="u-img-responsive" [src]="certificate.smallUrl || ''" [attr.alt]="certificate.name || ''">
            <span>{{ certificate.name || '' }}</span>
          </a>
        </div>
      </div>

      <div class="c-panel c-panel--primary" *ngIf="profile.courses?.length">
        <div class="c-panel__heading">
          <h3 class="c-panel__title">
            <i class="fa fa-book"></i> Courses
            <a class="edit-block" *ngIf="profile.ownProfile" routerLink="/edit/courses">Edit</a>
          </h3>
        </div>
        <div class="c-panel__body">
          <ul class="timeline">
            <li *ngFor="let course of profile.courses; trackBy: trackCourse">
              <div class="timeline-badge success">
                <i class="fa fa-book"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">{{ formatCourseTitle(course) }}</h4>
                  <p>
                    <small class="dates">
                      <i class="fa fa-calendar"></i>
                      <strong>Finish Date:</strong>
                      <span *ngIf="course.finish">{{ formatMonthYear(course.finishDate) }}</span>
                      <strong class="c-label c-label--danger" *ngIf="!course.finish">Not finished yet</strong>
                    </small>
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="c-panel c-panel--primary" *ngIf="profile.educations?.length">
        <div class="c-panel__heading">
          <h3 class="c-panel__title">
            <i class="fa fa-graduation-cap"></i> Education
            <a class="edit-block" *ngIf="profile.ownProfile" routerLink="/edit/education">Edit</a>
          </h3>
        </div>
        <div class="c-panel__body">
          <ul class="timeline">
            <li *ngFor="let education of profile.educations; trackBy: trackEducation">
              <div class="timeline-badge warning">
                <i class="fa fa-graduation-cap"></i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">{{ formatEducationTitle(education) }}</h4>
                  <p>
                    <small class="dates">
                      <i class="fa fa-calendar"></i>
                      <span>{{ education.beginYear != null ? education.beginYear : '' }}</span>
                      -
                      <span *ngIf="education.finish">{{ education.finishYear != null ? education.finishYear : '' }}</span>
                      <strong class="c-label c-label--danger" *ngIf="!education.finish">Current</strong>
                    </small>
                  </p>
                </div>
                <div class="timeline-body">
                  <p>{{ formatEducationBody(education) }}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="l-col l-col--xs-12 u-visible-xs">
      <div class="c-panel c-panel--primary" *ngIf="profile.languages?.length">
        <div class="c-panel__heading">
          <h3 class="c-panel__title">
            <i class="fa fa-language"></i> Foreign languages
            <a class="edit-block" *ngIf="profile.ownProfile" routerLink="/edit/languages">Edit</a>
          </h3>
        </div>
        <div class="c-panel__body">
          <div *ngFor="let language of profile.languages; trackBy: trackLanguage">
            <strong>{{ language.name || '' }}</strong>:
            <span>{{ language.level || '' }}</span>
            <span *ngIf="language.hasLanguageType && language.type"> (<i>{{ showLanguageType(language) }}</i>)</span>
            <br>
          </div>
        </div>
      </div>

      <div class="c-panel c-panel--primary" *ngIf="profile.hobbies?.length">
        <div class="c-panel__heading">
          <h3 class="c-panel__title">
            <i class="fa fa-heart"></i> Hobbies
            <a class="edit-block" *ngIf="profile.ownProfile" routerLink="/edit/hobbies">Edit</a>
          </h3>
        </div>
        <div class="c-panel__body">
          <div class="hobbies">
            <table class="c-table c-table--bordered">
              <tbody>
                <tr *ngFor="let hobby of profile.hobbies; trackBy: trackHobby">
                  <td><i class="fa hobby" [ngClass]="hobby.cssClassName ? 'hobby-' + hobby.cssClassName : ''"></i></td>
                  <td>{{ hobby.name || '' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="c-panel c-panel--primary" *ngIf="profile.info">
        <div class="c-panel__heading">
          <h3 class="c-panel__title">
            <i class="fa fa-info-circle"></i> Additional info
            <a class="edit-block" *ngIf="profile.ownProfile" routerLink="/edit/info">Edit</a>
          </h3>
        </div>
        <div class="c-panel__body u-text-justify">{{ profile.info }}</div>
      </div>
    </div>
  </div>
</div>
