<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="items (profiles)">
    <div class="c-panel c-panel--default profile-item" th:each="profile : ${profiles}">
      <div class="c-media c-panel__body">
        <div class="c-media__left c-media__left--top">
          <a th:href="${appHost} + @{/{uid}(uid=${profile.uid})}">
            <img class="photo u-img-thumbnail" th:alt="${profile.fullName}"
                 th:src="${profile.smallPhoto != null} ? ${profile.smallPhoto} : '/assets/img/profile-placeholder.png'">
          </a>
          <a class="c-button c-button--primary u-visible-xs-block" style="margin-top: 15px;"
             th:href="${appHost} + @{/{uid}(uid=${profile.uid})}">Деталі</a>
        </div>
        <div class="c-media__body search-result-item">
          <a class="c-button c-button--primary u-pull-right u-hidden-xs" th:href="${appHost} + @{/{uid}(uid=${profile.uid})}">Деталі</a>
          <h4 class="c-media__heading">
            <a th:href="${appHost} + @{/{uid}(uid=${profile.uid})}"
               th:text="|${profile.fullName}, ${profile.age}|">John Doe, 28</a>
          </h4>
          <strong th:text="${profile.objective}">Objective</strong>
          <p th:text="|${profile.city}, ${profile.country}|">City, Country</p>
          <blockquote>
            <small th:text="${profile.summary}">Summary text</small>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
