<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/layout :: head(|${profile.firstName} ${profile.lastName}|)}"></head>

<body class="resume">
    <div th:replace="~{fragments/layout :: header}"></div>
    <div class="layout-content l-container" th:id="'profile-' + ${profile.id}">
        <div class="l-row profile">
            <div class="l-col l-col--xs-12 l-col--sm-6 l-col--md-4">
                <div class="c-panel c-panel--primary">
                    <div class="c-panel__body">
                        <a th:if="${ownProfile}" th:href="${appHost} + @{|/${profile.uid}/edit|}">
                            <img alt="photo" th:src="${profile.largePhoto != null ? profile.largePhoto : '/assets/img/profile-placeholder.png'}" class="u-img-responsive photo">
                        </a>
                        <img th:if="${!ownProfile}" alt="photo" th:src="${profile.largePhoto != null ? profile.largePhoto : '/assets/img/profile-placeholder.png'}" class="u-img-responsive photo">
                        <h1 class="u-text-center">
                            <span th:if="${ownProfile}">
                                <a th:href="${appHost} + @{|/${profile.uid}/edit|}" style="color:black;" th:text="${profile.fullName}">Full Name</a>
                            </span>
                            <span th:if="${!ownProfile}" th:text="${profile.fullName}">Full Name</span>
                            <span th:if="${!profile.completed}" class="c-label c-label--warning" style="margin-left:8px;">Незавершений</span>
                        </h1>
                        <h6 class="u-text-center">
                            <strong th:text="${profile.city}"></strong><span th:if="${profile.city != null and profile.country != null}">, </span><strong th:text="${profile.country}"></strong>
                        </h6>
                        <h6 class="u-text-center">
                            <strong>Age:</strong> <span th:text="${profile.age}">0</span>
                            <span th:if="${profile.birthDay != null}">, <strong>Birthday:</strong> <span th:text="${#temporals.format(profile.birthDay.toLocalDate(), 'MMM dd, yyyy')}"></span></span>
                        </h6>
                        <div class="c-list contacts">
                            <a th:if="${profile.phone != null}" th:href="'tel:' + ${profile.phone}" class="c-list__item"><i class="fa fa-phone"></i> <span th:text="${profile.phone}">phone</span></a>
                            <a th:if="${profile.email != null}" th:href="'mailto:' + ${profile.email}" class="c-list__item"><i class="fa fa-envelope"></i> <span th:text="${profile.email}">email</span></a>
                            <a th:if="${profile.contacts != null and profile.contacts.facebook != null}" th:href="${profile.contacts.facebook}" class="c-list__item" target="_blank"><i class="fa fa-facebook"></i> <span th:text="${profile.contacts.facebook}">facebook</span></a>
                            <a th:if="${profile.contacts != null and profile.contacts.linkedin != null}" th:href="${profile.contacts.linkedin}" class="c-list__item" target="_blank"><i class="fa fa-linkedin"></i> <span th:text="${profile.contacts.linkedin}">linkedin</span></a>
                            <a th:if="${profile.contacts != null and profile.contacts.github != null}" th:href="${profile.contacts.github}" class="c-list__item" target="_blank"><i class="fa fa-github"></i> <span th:text="${profile.contacts.github}">github</span></a>
                            <a th:if="${profile.contacts != null and profile.contacts.stackoverflow != null}" th:href="${profile.contacts.stackoverflow}" class="c-list__item" target="_blank"><i class="fa fa-stack-overflow"></i> <span th:text="${profile.contacts.stackoverflow}">stackoverflow</span></a>
                        </div>
                    </div>
                </div>

                <div th:if="${profile.languages != null and !#lists.isEmpty(profile.languages)}" class="c-panel c-panel--primary u-hidden-xs">
                    <div class="c-panel__heading">
                        <h3 class="c-panel__title">
                            <i class="fa fa-language"></i> Foreign languages
                            <a th:if="${ownProfile}" th:href="${appHost} + @{|/${profile.uid}/edit/languages|}" class="edit-block">Edit</a>
                        </h3>
                    </div>
                    <div class="c-panel__body">
                        <div th:each="language : ${profile.languages}">
                            <strong th:text="${language.name}">Language</strong>:
                            <span th:text="${language.level}">LEVEL</span>
                            <span th:if="${language.hasLanguageType}">
                                (<i th:text="${#messages.msg('language.type.' + language.type)}">TYPE</i>)
                            </span>
                            <br/>
                        </div>
                    </div>
                </div>

                <div th:if="${profile.hobbies != null and !#lists.isEmpty(profile.hobbies)}" class="c-panel c-panel--primary u-hidden-xs">
                    <div class="c-panel__heading">
                        <h3 class="c-panel__title">
                            <i class="fa fa-heart"></i> Хобі
                            <a th:if="${ownProfile}" th:href="${appHost} + @{|/${profile.uid}/edit/hobbies|}" class="edit-block">Edit</a>
                        </h3>
                    </div>
                    <div class="c-panel__body">
                        <div class="hobbies">
                            <table class="c-table c-table--bordered">
                                <tr th:each="hobby : ${profile.hobbies}">
                                    <td><i class="fa" th:classappend="' hobby hobby-' + ${hobby.cssClassName}"></i></td>
                                    <td th:text="${hobby.name}">Hobby</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div th:if="${profile.info != null}" class="c-panel c-panel--primary u-hidden-xs">
                    <div class="c-panel__heading">
                        <h3 class="c-panel__title">
                            <i class="fa fa-info-circle"></i> Additional info
                            <a th:if="${ownProfile}" th:href="${appHost} + @{|/${profile.uid}/edit/info|}" class="edit-block">Edit</a>
                        </h3>
                    </div>
                    <div class="c-panel__body u-text-justify" th:text="${profile.info}">Info</div>
                </div>
            </div>

            <div class="l-col l-col--xs-12 l-col--sm-6 l-col--md-8">
                <div class="c-panel c-panel--primary">
                    <div class="c-panel__heading">
                        <h3 class="c-panel__title">
                            <i class="fa fa-bullseye"></i> Мета
                            <a th:if="${ownProfile}" th:href="${appHost} + @{|/${profile.uid}/edit/profile#inputObjective|}" class="edit-block">Редагувати</a>
                        </h3>
                    </div>
                    <div class="c-panel__body">
                        <h4 th:text="${profile.objective}">Objective</h4>
                        <p>
                            <strong>Короткий огляд кваліфікації:</strong><br/>
                            <span th:text="${profile.summary}"></span>
                        </p>
                    </div>
                </div>

                <div th:if="${profile.skills != null and !#lists.isEmpty(profile.skills)}" class="c-panel c-panel--primary">
                    <div class="c-panel__heading">
                        <h3 class="c-panel__title">
                            <i class="fa fa-code"></i> Technical Skills
                            <a th:if="${ownProfile}" th:href="${appHost} + @{|/${profile.uid}/edit/skills|}" class="edit-block">Edit</a>
                        </h3>
                    </div>
                    <div class="c-panel__body">
                        <table class="c-table c-table--striped c-table--bordered">
                            <tr>
                                <th style="width: 140px;">Category</th>
                                <th>Frameworks and technologies</th>
                            </tr>
                            <tr th:each="skill : ${profile.skills}">
                                <td th:text="${skill.category}">Category</td>
                                <td th:text="${skill.value}">Value</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div th:if="${profile.practics != null and !#lists.isEmpty(profile.practics)}" class="c-panel c-panel--primary">
                    <div class="c-panel__heading">
                        <h3 class="c-panel__title">
                            <i class="fa fa-briefcase"></i> Практичний досвід
                            <a th:if="${ownProfile}" th:href="${appHost} + @{|/${profile.uid}/edit/practics|}" class="edit-block">Редагувати</a>
                        </h3>
                    </div>
                    <div class="c-panel__body">
                        <ul class="timeline">
                            <li th:each="practic : ${profile.practics}">
                                <div class="timeline-badge danger">
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title" th:text="|${practic.position} at ${practic.company}|">Position at Company</h4>
                                        <p>
                                            <small class="dates">
                                                <i class="fa fa-calendar"></i>
                                                <span th:text="${practic.beginDate != null ? #temporals.format(practic.beginDate, 'MMM yyyy') : ''}"></span>
                                                -
                                                <span th:if="${practic.finish}" th:text="${practic.finishDate != null ? #temporals.format(practic.finishDate, 'MMM yyyy') : ''}"></span>
                                                <strong class="c-label c-label--danger" th:if="${!practic.finish}">Current</strong>
                                            </small>
                                        </p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>
                                            <strong>Responsibilities included:</strong>
                                            <span th:text="${practic.responsibilities}"></span>
                                        </p>
                                        <p th:if="${practic.demo != null}">
                                            <strong>Demo: </strong><a th:href="${practic.demo}" th:text="${practic.demo}"></a>
                                        </p>
                                        <p th:if="${practic.src != null}">
                                            <strong>Source code: </strong><a th:href="${practic.src}" th:text="${practic.src}"></a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div th:if="${profile.certificates != null and !#lists.isEmpty(profile.certificates)}" class="c-panel c-panel--primary certificates">
                    <div class="c-panel__heading">
                        <h3 class="c-panel__title">
                            <i class="fa fa-certificate"></i> Сертифікати
                            <a th:if="${ownProfile}" th:href="${appHost} + @{/edit/certificates}" class="edit-block">Редагувати</a>
                        </h3>
                    </div>
                    <div class="c-panel__body">
                        <a class="c-thumbnail certificate-link" href="#"
                           th:each="certificate : ${profile.certificates}"
                           th:attr="data-title=${certificate.name},data-url=${certificate.largeUrl}">
                            <img class="u-img-responsive" th:src="${certificate.smallUrl}" th:alt="${certificate.name}">
                            <span th:text="${certificate.name}">Certificate</span>
                        </a>
                    </div>
                </div>

                <div th:if="${profile.courses != null and !#lists.isEmpty(profile.courses)}" class="c-panel c-panel--primary">
                    <div class="c-panel__heading">
                        <h3 class="c-panel__title">
                            <i class="fa fa-book"></i> Courses
                            <a th:if="${ownProfile}" th:href="${appHost} + @{/edit/courses}" class="edit-block">Edit</a>
                        </h3>
                    </div>
                    <div class="c-panel__body">
                        <ul class="timeline">
                            <li th:each="course : ${profile.courses}">
                                <div class="timeline-badge success">
                                    <i class="fa fa-book"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title" th:text="|${course.name} at ${course.school}|">Course</h4>
                                        <p>
                                            <small class="dates"><i class="fa fa-calendar"></i>
                                                <strong>Finish Date:</strong>
                                                <span th:if="${course.finish}" th:text="${course.finishDate != null ? #temporals.format(course.finishDate, 'MMM yyyy') : ''}"></span>
                                                <strong class="c-label c-label--danger" th:if="${!course.finish}">Not finished yet</strong>
                                            </small>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div th:if="${profile.educations != null and !#lists.isEmpty(profile.educations)}" class="c-panel c-panel--primary">
                    <div class="c-panel__heading">
                        <h3 class="c-panel__title">
                            <i class="fa fa-graduation-cap"></i> Education
                            <a th:if="${ownProfile}" th:href="${appHost} + @{/edit/education}" class="edit-block">Edit</a>
                        </h3>
                    </div>
                    <div class="c-panel__body">
                        <ul class="timeline">
                            <li th:each="education : ${profile.educations}">
                                <div class="timeline-badge warning">
                                    <i class="fa fa-graduation-cap"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title" th:text="${education.summary}">Summary</h4>
                                        <p>
                                            <small class="dates"><i class="fa fa-calendar"></i>
                                                <span th:text="${education.beginYear}"></span> -
                                                <span th:if="${education.finish}" th:text="${education.finishYear}"></span>
                                                <strong class="c-label c-label--danger" th:if="${!education.finish}">Current</strong>
                                            </small>
                                        </p>
                                    </div>
                                    <div class="timeline-body">
                                        <p th:text="|${education.faculty}, ${education.university}|">Faculty, University</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="l-col l-col--xs-12 u-visible-xs">
                <div th:if="${profile.languages != null and !#lists.isEmpty(profile.languages)}" class="c-panel c-panel--primary">
                    <div class="c-panel__heading">
                        <h3 class="c-panel__title">
                            <i class="fa fa-language"></i> Foreign languages
                            <a th:if="${ownProfile}" th:href="${appHost} + @{/account/login}" class="edit-block">Edit</a>
                        </h3>
                    </div>
                    <div class="c-panel__body">
                        <div th:each="language : ${profile.languages}">
                            <strong th:text="${language.name}">Language</strong>:
                            <span th:text="${language.level}">LEVEL</span>
                            <span th:if="${language.hasLanguageType}">
                                (<i th:text="${#messages.msg('language.type.' + language.type)}">TYPE</i>)
                            </span>
                            <br/>
                        </div>
                    </div>
                </div>

                <div th:if="${profile.hobbies != null and !#lists.isEmpty(profile.hobbies)}" class="c-panel c-panel--primary">
                    <div class="c-panel__heading">
                        <h3 class="c-panel__title">
                            <i class="fa fa-heart"></i> Хобі
                            <a th:if="${ownProfile}" th:href="${appHost} + @{/account/login}" class="edit-block">Edit</a>
                        </h3>
                    </div>
                    <div class="c-panel__body">
                        <div class="hobbies">
                            <table class="c-table c-table--bordered">
                                <tr th:each="hobby : ${profile.hobbies}">
                                    <td><i class="fa" th:classappend="' hobby hobby-' + ${hobby.cssClassName}"></i></td>
                                    <td th:text="${hobby.name}">Hobby</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div th:if="${profile.info != null}" class="c-panel c-panel--primary">
                    <div class="c-panel__heading">
                        <h3 class="c-panel__title">
                            <i class="fa fa-info-circle"></i> Additional info
                            <a th:if="${ownProfile}" th:href="${appHost} + @{/account/login}" class="edit-block">Edit</a>
                        </h3>
                    </div>
                    <div class="c-panel__body u-text-justify" th:text="${profile.info}">Info</div>
                </div>
            </div>
        </div>
    </div>

<div th:replace="~{fragments/layout :: footer}"></div>
<th:block th:replace="~{fragments/layout :: public-spa-templates}"></th:block>
<th:block th:replace="~{fragments/layout :: scripts-base}"></th:block>
<script th:src="${appHost} + @{/assets/js/public-spa.js(v=${jsCommonVersion})}"></script>

    <div id="certificateViewer" class="c-modal is-fade" role="dialog">
        <div class="c-modal__dialog c-modal__dialog--lg">
            <div class="c-modal__content">
                <div class="c-modal__header">
                    <button type="button" class="c-close" data-ui-dismiss="modal">&times;</button>
                    <h4 class="c-modal__title">Перегляд сертифікату</h4>
                </div>
                <div class="c-modal__body">
                    <img class="u-img-responsive" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="Certificate image">
                </div>
            </div>
        </div>
    </div>
    <script th:if="${profile.certificates != null and !#lists.isEmpty(profile.certificates)}">
      (function(){ if(window.resume && resume.initCertificateViewer){ resume.initCertificateViewer(); }})();
    </script>
</body>

</html>
