<div class="l-container" style="max-width: 560px;">
    <div class="c-panel c-panel--default">
      <div class="c-panel__heading">
        <h4 class="c-panel__title"><i class="fa fa-user-plus"></i> Create account</h4>
      </div>
      <div class="c-panel__body">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="c-form__group">
            <label for="firstName">First name</label>
            <input id="firstName" type="text" class="c-input" formControlName="firstName" />
            <div class="c-form__help" *ngIf="fieldErrors['firstName']?.length">
              {{ fieldErrors['firstName'][0] }}
            </div>
          </div>
          <div class="c-form__group">
            <label for="lastName">Last name</label>
            <input id="lastName" type="text" class="c-input" formControlName="lastName" />
            <div class="c-form__help" *ngIf="fieldErrors['lastName']?.length">
              {{ fieldErrors['lastName'][0] }}
            </div>
          </div>
          <div class="c-form__group">
            <label for="uid">Username</label>
            <div class="l-row">
              <div class="l-col l-col--xs-12 l-col--sm-8">
                <input id="uid" type="text" class="c-input" formControlName="uid" />
              </div>
              <div class="l-col l-col--xs-12 l-col--sm-4" style="margin-top: 6px;">
                <button type="button" class="c-button c-button--secondary" (click)="suggestUid()" [disabled]="loadingHint">
                  {{ loadingHint ? 'Suggesting...' : 'Suggest UID' }}
                </button>
              </div>
            </div>
            <div class="c-form__help" *ngIf="fieldErrors['uid']?.length">
              {{ fieldErrors['uid'][0] }}
            </div>
            <div *ngIf="uidSuggestions.length" style="margin-top: 6px;">
              <span class="u-text-muted">Suggestions:</span>
              <button type="button" class="c-button c-button--link" *ngFor="let suggestion of uidSuggestions"
                      (click)="applySuggestion(suggestion)">
                {{ suggestion }}
              </button>
            </div>
          </div>
          <div class="c-form__group">
            <label for="password">Password</label>
            <input id="password" type="password" class="c-input" formControlName="password" />
            <div class="c-form__help" *ngIf="fieldErrors['password']?.length">
              {{ fieldErrors['password'][0] }}
            </div>
          </div>
          <div class="c-form__group">
            <label for="confirmPassword">Confirm password</label>
            <input id="confirmPassword" type="password" class="c-input" formControlName="confirmPassword" />
            <div class="c-form__help" *ngIf="fieldErrors['confirmPassword']?.length">
              {{ fieldErrors['confirmPassword'][0] }}
            </div>
          </div>
          <div *ngIf="errorMessage" class="c-alert c-alert--danger" style="margin-top: 10px;">
            {{ errorMessage }}
          </div>
          <button type="submit" class="c-button c-button--primary c-button--block">Register</button>
        </form>
        <div class="u-text-center" style="margin-top: 10px;">
          <a routerLink="/login">Already have an account? Sign in</a>
        </div>
      </div>
    </div>
  </div>
