<div class="l-container" style="max-width: 520px;">
    <div class="c-panel c-panel--default">
      <div class="c-panel__heading">
        <h4 class="c-panel__title"><i class="fa fa-key"></i> Set new password</h4>
      </div>
      <div class="c-panel__body">
        <div *ngIf="invalidToken" class="c-alert c-alert--warning">
          Invalid or expired restore link.
        </div>
        <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="!invalidToken">
          <div class="c-form__group">
            <label for="password">New password</label>
            <input id="password" type="password" class="c-input" formControlName="password" />
          </div>
          <div class="c-form__group">
            <label for="confirmPassword">Confirm password</label>
            <input id="confirmPassword" type="password" class="c-input" formControlName="confirmPassword" />
          </div>
          <div *ngIf="errorMessage" class="c-alert c-alert--danger" style="margin-top: 10px;">
            {{ errorMessage }}
          </div>
          <button type="submit" class="c-button c-button--primary c-button--block">Save new password</button>
        </form>
        <div class="u-text-center" style="margin-top: 10px;">
          <a routerLink="/restore">Request another link</a>
        </div>
      </div>
    </div>
  </div>
