server:
  port: 8082

spring:
  application:
    name: resume-profile-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/resume}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
  jpa:
    open-in-view: false
  flyway:
    enabled: true

app:
  search:
    elasticsearch:
      enabled: false
