<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/layout :: head('Реєстрація')}"></head>
<body class="resume">
  <div th:replace="~{fragments/layout :: header}"></div>
  <div class="layout-content">
    <div class="l-container" style="max-width: 520px;">
      <div class="c-panel c-panel--default">
        <div class="c-panel__heading">
          <h4 class="c-panel__title"><i class="fa fa-user-plus"></i> Вкажіть Ваші персональні дані</h4>
        </div>
        <div class="c-panel__body">
          <form th:action="${appHost} + @{/register}" th:object="${registrationForm}" method="post">
            <div class="c-form__group">
              <label for="uid">Логін (username)</label>
              <input id="uid" th:field="*{uid}" type="text" class="c-input" required>
              <div th:if="${#fields.hasErrors('uid')}" class="u-text-danger" th:errors="*{uid}">Помилка</div>
              <div th:if="${uidSuggestions != null and !uidSuggestions.isEmpty()}" class="u-text-muted"
                   style="margin-top: 6px;">
                Можливі варіанти:
                <ul style="margin: 4px 0 0 16px;">
                  <li th:each="s : ${uidSuggestions}">
                    <a href="#" class="uid-suggestion" th:attr="data-target='uid',data-value=${s}"
                       th:text="${s}">username-1</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="c-form__group">
              <label for="firstName">Ім'я</label>
              <input id="firstName" th:field="*{firstName}" type="text" class="c-input" required>
              <div th:if="${#fields.hasErrors('firstName')}" class="u-text-danger" th:errors="*{firstName}">Помилка</div>
            </div>
            <div class="c-form__group">
              <label for="lastName">Прізвище</label>
              <input id="lastName" th:field="*{lastName}" type="text" class="c-input" required>
              <div th:if="${#fields.hasErrors('lastName')}" class="u-text-danger" th:errors="*{lastName}">Помилка</div>
            </div>
            <div class="c-form__group">
              <label for="password">Пароль</label>
              <input id="password" th:field="*{password}" type="password" class="c-input" required>
              <div th:if="${#fields.hasErrors('password')}" class="u-text-danger" th:errors="*{password}">Помилка</div>
            </div>
            <div class="c-form__group">
              <label for="confirmPassword">Повторіть пароль</label>
              <input id="confirmPassword" th:field="*{confirmPassword}" type="password" class="c-input" required>
              <div th:if="${#fields.hasErrors('confirmPassword')}" class="u-text-danger" th:errors="*{confirmPassword}">Помилка</div>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div th:if="${errorMessage}" class="c-alert c-alert--danger" th:text="${errorMessage}" style="margin-top: 10px;"></div>
            <button type="submit" class="c-button c-button--success c-button--block">Зареєструватися</button>
          </form>
          <div class="u-text-center" style="margin-top: 10px;">
            <a th:href="${appHost} + @{/login}">Уже є акаунт? Увійти</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="~{fragments/layout :: footer}"></div>
  <th:block th:replace="~{fragments/layout :: scripts-base}"></th:block>
  <script th:src="${appHost} + @{/assets/js/uid-suggestions.js(v=${jsCommonVersion})}"></script>
</body>
</html>
