<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/layout :: head('Видалення акаунту')}"></head>
<body class="resume">
  <div th:replace="~{fragments/layout :: header}"></div>
  <div class="layout-content" style="display: flex; justify-content: center;">
    <div class="c-panel c-panel--warning" style="max-width: 1060px; width: 100%; margin: 40px auto; margin-bottom: 750px;">
      <div class="c-panel__heading">
        <h3 class="c-panel__title">
          <i class="fa fa-exclamation-circle"></i> Удаление аккаунта - безвозвратная операция!
        </h3>
      </div>
      <div class="c-panel__body">
        <div class="l-row">
          <div class="l-col l-col--xs-12 u-text-center">
            <h4>
              Удаление аккаунта <strong>НЕ МОЖЕТ БЫТЬ ОТМЕНЕНО</strong>.
              Пожалуйста, подтвердите удаление:
              <strong th:text="${currentProfile != null ? currentProfile.username : ''}">username</strong>!
            </h4>
            <hr />
            <form th:action="${appHost} + @{/account/remove}" method="post">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              <input type="submit" value="Подтвердить удаление" class="c-button c-button--danger" />
<a th:href="${appHost} + @{/me}" style="margin-left: 12px;">Скасувати</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:replace="~{fragments/layout :: footer}"></div>
  <th:block th:replace="~{fragments/layout :: scripts-base}"></th:block>
</body>
</html>
