<div class="l-container" style="max-width: 520px;">
    <div class="c-panel c-panel--default">
      <div class="c-panel__heading">
        <h4 class="c-panel__title"><i class="fa fa-lock"></i> Change password</h4>
      </div>
      <div class="c-panel__body">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="c-form__group">
            <label for="currentPassword">Current password</label>
            <input id="currentPassword" type="password" class="c-input" formControlName="currentPassword" />
          </div>
          <div class="c-form__group">
            <label for="newPassword">New password</label>
            <input id="newPassword" type="password" class="c-input" formControlName="newPassword" />
          </div>
          <div class="c-form__group">
            <label for="confirmPassword">Confirm password</label>
            <input id="confirmPassword" type="password" class="c-input" formControlName="confirmPassword" />
          </div>
          <div *ngIf="successMessage" class="c-alert c-alert--success" style="margin-top: 10px;">
            {{ successMessage }}
          </div>
          <div *ngIf="errorMessage" class="c-alert c-alert--danger" style="margin-top: 10px;">
            {{ errorMessage }}
          </div>
          <button type="submit" class="c-button c-button--primary c-button--block">Update password</button>
        </form>
      </div>
    </div>
  </div>
