<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Edit Contacts')}"></head>
<body class="resume">
<div th:replace="~{fragments/layout :: header}"></div>
<div class="layout-content l-container">
  <h2>Edit Contacts</h2>
  <div th:replace="~{edit/_nav :: nav}"></div>

  <form th:action="${appHost} + @{|/${profile.uid}/edit/contacts|}" method="post" th:object="${form}" class="c-form c-form--horizontal">
    <div th:if="${#fields.hasErrors('*')}" class="c-alert c-alert--danger">
      <ul>
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Error</li>
      </ul>
    </div>

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <div class="c-form__group">
      <label class="l-col l-col--sm-3 c-form__label">Phone</label>
      <div class="l-col l-col--sm-9">
        <input class="c-input" type="text" th:field="*{phone}" placeholder="+380501234567"/>
        <div class="c-form__help"><small>Формат E.164: код країни + номер без пробілів.</small></div>
      </div>
    </div>
    <div class="c-form__group">
      <label class="l-col l-col--sm-3 c-form__label">Email</label>
      <div class="l-col l-col--sm-9">
        <input class="c-input" type="email" th:field="*{email}" placeholder="name.surname@gmail.com"/>
        <div class="c-form__help"><small>Робоча пошта, бажано @gmail.com з вашим ім’ям та прізвищем.</small></div>
      </div>
    </div>
    <div class="c-form__group">
      <label class="l-col l-col--sm-3 c-form__label">Facebook</label>
      <div class="l-col l-col--sm-9"><input class="c-input" type="text" th:field="*{facebook}"/></div>
    </div>
    <div class="c-form__group">
      <label class="l-col l-col--sm-3 c-form__label">LinkedIn</label>
      <div class="l-col l-col--sm-9"><input class="c-input" type="text" th:field="*{linkedin}"/></div>
    </div>
    <div class="c-form__group">
      <label class="l-col l-col--sm-3 c-form__label">GitHub</label>
      <div class="l-col l-col--sm-9"><input class="c-input" type="text" th:field="*{github}"/></div>
    </div>
    <div class="c-form__group">
      <label class="l-col l-col--sm-3 c-form__label">StackOverflow</label>
      <div class="l-col l-col--sm-9"><input class="c-input" type="text" th:field="*{stackoverflow}"/></div>
    </div>
    <hr/>
    <div class="l-row">
      <div class="l-col l-col--xs-12 u-text-center">
        <input type="submit" class="c-button c-button--primary" value="Сохранить">
        <a th:href="${appHost} + @{|/${profile.uid}/edit/skills|}" class="c-button c-button--secondary" style="margin-left:8px;">Далі</a>
      </div>
    </div>
  </form>
</div>
<div th:replace="~{fragments/layout :: footer}"></div>
<th:block th:replace="~{fragments/layout :: scripts-base}"></th:block>
<th:block th:replace="~{fragments/layout :: scripts-edit}"></th:block>
</body>
</html>
