<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Edit Education')}"></head>
<body class="resume">
<div th:replace="~{fragments/layout :: header}"></div>
<div class="layout-content container">
  <h2>Образование</h2>
  <div th:replace="~{edit/_nav :: nav}"></div>

  <form th:action="${appHost} + @{|/${profile.uid}/edit/education|}" method="post" th:object="${form}">
    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
      <ul>
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Error</li>
      </ul>
    </div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <div id="ui-block-container">
      <div th:each="item,iter : *{items}" class="panel panel-default ui-item education-item" th:id="|ui-item-${iter.index}|">
        <div class="panel-heading">Образование <span th:text="${iter.index + 1}"></span>
          <button type="button" class="close pull-right" th:onclick="|$('#ui-item-${iter.index}').remove();|"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-3 control-label">Университет</label>
            <div class="col-sm-9"><input class="form-control" type="text" th:field="*{items[__${iter.index}__].university}"/></div>
            <div class="col-sm-offset-3 col-sm-9 help-block"><small>Повна назва університету/коледжу.</small></div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Факультет</label>
            <div class="col-sm-9"><input class="form-control" type="text" th:field="*{items[__${iter.index}__].faculty}"/></div>
            <div class="col-sm-offset-3 col-sm-9 help-block"><small>Факультет/спеціальність.</small></div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Описание</label>
            <div class="col-sm-9"><input class="form-control" type="text" th:field="*{items[__${iter.index}__].summary}"/></div>
            <div class="col-sm-offset-3 col-sm-9 help-block"><small>Ключові курси, диплом, середній бал.</small></div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Начало</label>
            <div class="col-sm-3">
              <select class="form-control" th:field="*{items[__${iter.index}__].beginYear}">
                <option th:each="y : ${years}" th:value="${y}" th:text="${y}">Year</option>
              </select>
            </div>
            <label class="col-sm-2 control-label">Окончено</label>
            <div class="col-sm-1"><input type="checkbox" th:field="*{items[__${iter.index}__].finish}"/></div>
            <div class="col-sm-3">
              <select class="form-control" th:field="*{items[__${iter.index}__].finishYear}">
                <option th:each="y : ${years}" th:value="${y}" th:text="${y}">Year</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a href="javascript:resume.ui.addBlock();">+ Добавить образование</a>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-xs-12 text-center">
        <input type="submit" class="btn btn-primary" value="Сохранить">
      </div>
    </div>
  </form>
</div>
<div th:replace="~{fragments/layout :: footer}"></div>
<th:block th:replace="~{fragments/layout :: scripts-base}"></th:block>
<th:block th:replace="~{fragments/layout :: scripts-edit}"></th:block>
<script id="ui-block-template" type="text/x-handlebars-template">
  <div class="panel panel-default ui-item education-item" id="ui-item-{{blockIndex}}">
    <div class="panel-heading">Образование {{inc blockIndex}}
      <button type="button" class="close pull-right" onclick="$('#ui-item-{{blockIndex}}').remove();"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-3 control-label">Университет</label>
        <div class="col-sm-9"><input class="form-control" type="text" name="items[{{blockIndex}}].university"/></div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Факультет</label>
        <div class="col-sm-9"><input class="form-control" type="text" name="items[{{blockIndex}}].faculty"/></div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Описание</label>
        <div class="col-sm-9"><input class="form-control" type="text" name="items[{{blockIndex}}].summary"/></div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Начало</label>
        <div class="col-sm-3">
          <select class="form-control" name="items[{{blockIndex}}].beginYear">
            {{#each years}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </div>
        <label class="col-sm-2 control-label">Окончено</label>
        <div class="col-sm-1"><input type="checkbox" name="items[{{blockIndex}}].finish"/></div>
        <div class="col-sm-3">
          <select class="form-control" name="items[{{blockIndex}}].finishYear">
            {{#each years}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>
  </div>
</script>
<script th:inline="javascript">
  /*<![CDATA[*/
  Handlebars.registerHelper('inc', function(value) { return parseInt(value) + 1; });
  window.educationYears = /*[[${years}]]*/ [];
  resume.ui.getTemplate = function() {
    if (resume.ui.template == null) {
      var source = $("#ui-block-template").html();
      resume.ui.template = Handlebars.compile(source);
    }
    return resume.ui.template;
  };
  Handlebars.registerHelper('years', function() { return window.educationYears; });
  /*]]>*/
</script>
</body>
</html>
