<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head('Edit Hobbies')"></head>
<body class="resume">
<div th:replace="fragments/layout :: header"></div>
<div class="layout-content container">
  <h2>Хобі</h2>
  <div th:replace="~{edit/_nav :: nav}"></div>

  <div th:if="${hobbyError}" class="alert alert-danger" th:text="${hobbyError}"></div>

  <div id="hobbyContainer" class="row" th:attr="data-csrf-value=${_csrf.token},data-max-hobbies=5">
    <div class="col-xs-12">
      <div id="errorAlert" class="alert alert-danger" style="display:none;">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Максимальна кількість хобі перевищена.
      </div>
      <div class="btn-group" data-toggle="buttons">
        <label th:each="hobby : ${hobbies}"
               class="btn btn-default hobby-btn"
               th:classappend="${hobby.selected} ? ' active' : ''"
               th:attr="data-hobby=${hobby.id}">
          <input type="checkbox" autocomplete="off" th:checked="${hobby.selected}"> <i class="fa" th:classappend="' hobby hobby-' + ${hobby.cssClassName}"></i> <span th:text="${hobby.name}">Hobby</span>
        </label>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:20px;">
    <div class="col-xs-12">
      <button class="btn btn-primary" onclick="resume.hobbies.save();">Зберегти</button>
    </div>
  </div>
</div>
<div th:replace="fragments/layout :: footer"></div>
<th:block th:replace="fragments/layout :: scripts"></th:block>
</body>
</html>
