<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Edit Hobbies')}"></head>
<body class="resume">
<div th:replace="~{fragments/layout :: header}"></div>
<div class="layout-content l-container">
  <h2>Хобі</h2>
  <div th:replace="~{edit/_nav :: nav}"></div>

  <div th:if="${hobbyError}" class="c-alert c-alert--danger" th:text="${hobbyError}"></div>

  <div id="hobbyContainer" class="c-panel c-panel--default"
       th:attr="data-csrf-value=${_csrf.token},data-post-url=${appHost} + @{|/${profile.uid}/edit/hobbies|}">
    <div class="c-panel__body">
      <h4 class="data-header">Некоторые работодатели уделяют внимание на хобби кандидата</h4>
      <h6 class="u-text-center c-form__help" th:inline="text">
  Выберите не более [[${maxHobbies}]] пунктов!
</h6>
      <div id="errorAlert" class="c-alert c-alert--danger" role="alert" style="display:none;">
        <button type="button" class="c-close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span th:inline="text">Максимальна кількість хобі перевищена. Виберіть не більше [[${maxHobbies}]] пунктів.</span>
      </div>
      <div id="ui-block-container" class="c-button-group" th:attr="data-max-hobbies=${maxHobbies}">
        <label th:each="hobby : ${hobbies}"
               class="c-button c-button--secondary hobby-btn"
               th:classappend="${hobby.selected} ? ' is-active' : ''"
               th:attr="data-hobby=${hobby.id}">
          <input type="checkbox" autocomplete="off" th:checked="${hobby.selected}"> <i class="fa" th:classappend="' hobby hobby-' + ${hobby.cssClassName}"></i> <span th:text="${hobby.name}">Hobby</span>
        </label>
      </div>
    </div>
  </div>

  <div class="l-row" style="margin-top:20px;">
    <div class="l-col l-col--xs-12">
      <button class="c-button c-button--primary" onclick="resume.hobbies.save();">Зберегти</button>
    </div>
  </div>
</div>
<div th:replace="~{fragments/layout :: footer}"></div>
<th:block th:replace="~{fragments/layout :: scripts-base}"></th:block>
<th:block th:replace="~{fragments/layout :: scripts-edit}"></th:block>
</body>
</html>
