<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Edit Languages')}"></head>
<body class="resume">
<div th:replace="~{fragments/layout :: header}"></div>
<div class="layout-content l-container edit-languages">
  <h2>Иностранные языки</h2>
  <div th:replace="~{edit/_nav :: nav}"></div>

  <form th:action="${appHost} + @{|/${profile.uid}/edit/languages|}" method="post" th:object="${form}">
    <div th:if="${#fields.hasErrors('*')}" class="c-alert c-alert--danger">
      <ul>
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Error</li>
      </ul>
    </div>

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <div id="ui-block-container">
      <div th:each="item,iter : *{items}" class="c-panel c-panel--default ui-item language-item" th:id="|ui-item-${iter.index}|">
        <div class="c-panel__heading">Язык <span th:text="${iter.index + 1}"></span>
          <button type="button" class="c-close u-pull-right" th:onclick="|$('#ui-item-${iter.index}').remove();|"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="c-panel__body">
          <input type="hidden" th:field="*{items[__${iter.index}__].id}"/>
          <div class="language-grid">
            <div class="l-col l-col--xs-12 language-col language-col-type">
              <div class="c-form__group">
                <label class="c-form__label">Тип</label>
                <select class="c-input" th:field="*{items[__${iter.index}__].type}">
                  <option th:each="entry : ${languageTypeLabels}" th:value="${entry.key}"
                          th:text="${entry.value}">TYPE</option>
                </select>
                <div class="c-form__help"><small>Тип: розмовна/письмова тощо.</small></div>
              </div>
            </div>
            <div class="l-col l-col--xs-12 language-col language-col-name">
              <div class="c-form__group">
                <label class="c-form__label">Мова</label>
                <input class="c-input" type="text" th:field="*{items[__${iter.index}__].name}"/>
                <div class="c-form__help"><small>Наприклад: English, Deutsch, Français.</small></div>
              </div>
            </div>
            <div class="l-col l-col--xs-12 language-col language-col-level">
              <div class="c-form__group">
                <label class="c-form__label">Рівень</label>
                <div class="c-slider" data-slider>
                  <input class="c-slider__input" type="range" style="width: 100%;"
                         th:attr="name=|items[${iter.index}].level|,id=|items${iter.index}level|,value=${item.level != null ? item.level.sliderIntValue : 4},min=0,max=${languageLevels.size() - 1}"
                         step="1">
                  <div class="c-slider__labels" data-slider-labels></div>
                </div>
                <div class="c-form__help"><small>Оберіть рівень володіння мовою.</small></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="l-row">
      <div class="l-col l-col--xs-12">
        <a href="javascript:resume.ui.addBlock();">+ Добавить язык</a>
      </div>
    </div>
    <select id="language-type-options" style="display:none;">
      <option th:each="entry : ${languageTypeLabels}" th:value="${entry.key}"
              th:text="${entry.value}">TYPE</option>
    </select>
    <hr/>
    <div class="l-row">
      <div class="l-col l-col--xs-12 u-text-center">
        <input type="submit" class="c-button c-button--primary" value="Сохранить">
      </div>
    </div>
  </form>
</div>
<div th:replace="~{fragments/layout :: footer}"></div>
<th:block th:replace="~{fragments/layout :: scripts-base}"></th:block>
<th:block th:replace="~{fragments/layout :: scripts-edit}"></th:block>
<script id="ui-block-template" type="text/x-handlebars-template">
  <div class="c-panel c-panel--default ui-item language-item" id="ui-item-{{blockIndex}}">
    <div class="c-panel__heading">Язык {{inc blockIndex}}
      <button type="button" class="c-close u-pull-right" onclick="$('#ui-item-{{blockIndex}}').remove();"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="c-panel__body">
      <div class="language-grid">
        <div class="l-col l-col--xs-12 language-col language-col-type">
          <div class="c-form__group">
            <label class="c-form__label">Тип</label>
            <select class="c-input" name="items[{{blockIndex}}].type">
              {{#each (types)}}
              <option value="{{this}}">{{typeLabel this}}</option>
              {{/each}}
            </select>
            <div class="c-form__help"><small>Тип: розмовна/письмова тощо.</small></div>
          </div>
        </div>
        <div class="l-col l-col--xs-12 language-col language-col-name">
          <div class="c-form__group">
            <label class="c-form__label">Мова</label>
            <input class="c-input" type="text" name="items[{{blockIndex}}].name"/>
            <div class="c-form__help"><small>Наприклад: English, Deutsch, Français.</small></div>
          </div>
        </div>
        <div class="l-col l-col--xs-12 language-col language-col-level">
          <div class="c-form__group">
            <label class="c-form__label">Рівень</label>
            <div class="c-slider" data-slider>
              <input class="c-slider__input" type="range" style="width: 100%;"
                     name="items[{{blockIndex}}].level" id="items{{blockIndex}}level"
                     value="{{levelDefault}}" min="0" max="{{levelMax}}" step="1">
              <div class="c-slider__labels" data-slider-labels></div>
            </div>
            <div class="c-form__help"><small>Оберіть рівень володіння мовою.</small></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
<script th:inline="javascript">
  /*<![CDATA[*/
  Handlebars.registerHelper('inc', function(value) { return parseInt(value) + 1; });
  window.languageLevels = /*[[${languageLevels}]]*/ [];
  window.languageTypes = [];
  window.languageTypeLabels = {};
  $('#language-type-options option').each(function() {
    window.languageTypes.push(this.value);
    window.languageTypeLabels[this.value] = $(this).text();
  });
  var toLevelLabel = function(value) {
    if (!value) {
      return '';
    }
    var normalized = value.toLowerCase().replace(/_/g, '-');
    return normalized.charAt(0).toUpperCase() + normalized.slice(1);
  };
  window.languageLevelTicks = window.languageLevels.map(function(value, index) { return index; });
  window.languageLevelLabels = window.languageLevels.map(toLevelLabel);
  window.languageLevelMax = window.languageLevelTicks.length ? window.languageLevelTicks[window.languageLevelTicks.length - 1] : 0;
  window.languageLevelDefault = Math.min(4, window.languageLevelMax);
  resume.ui.getTemplate = function() {
    if (resume.ui.template == null) {
      var source = $("#ui-block-template").html();
      resume.ui.template = Handlebars.compile(source);
    }
    return resume.ui.template;
  };
  Handlebars.registerHelper('types', function() { return window.languageTypes; });
  Handlebars.registerHelper('typeLabel', function(value) {
    if (window.languageTypeLabels && window.languageTypeLabels[value]) {
      return window.languageTypeLabels[value];
    }
    return value;
  });
  if (resume && typeof resume.initLevelSliders === 'function') {
    resume.initLevelSliders($('#ui-block-container'));
  }
  /*]]>*/
</script>
</body>
</html>
