<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Change Password')}"></head>
<body class="resume">
<div th:replace="~{fragments/layout :: header}"></div>
<div class="layout-content l-container">
  <h2>Change Password</h2>
  <div th:replace="~{edit/_nav :: nav}"></div>

  <form th:action="${appHost} + @{|/${profile.uid}/edit/password|}" method="post" th:object="${form}" class="c-form c-form--horizontal">
    <div th:if="${#fields.hasErrors('*')}" class="c-alert c-alert--danger">
      <ul>
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Error</li>
      </ul>
    </div>

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <div class="c-form__group">
      <label class="l-col l-col--sm-3 c-form__label">Current password</label>
      <div class="l-col l-col--sm-9"><input class="c-input" type="password" th:field="*{currentPassword}"/></div>
    </div>
    <div class="c-form__group">
      <label class="l-col l-col--sm-3 c-form__label">New password</label>
      <div class="l-col l-col--sm-9"><input class="c-input" type="password" th:field="*{newPassword}"/></div>
    </div>
    <div class="c-form__group">
      <label class="l-col l-col--sm-3 c-form__label">Confirm password</label>
      <div class="l-col l-col--sm-9"><input class="c-input" type="password" th:field="*{confirmPassword}"/></div>
    </div>
    <button type="submit" class="c-button c-button--primary">Save</button>
  </form>
</div>
<div th:replace="~{fragments/layout :: footer}"></div>
<th:block th:replace="~{fragments/layout :: scripts-base}"></th:block>
<th:block th:replace="~{fragments/layout :: scripts-edit}"></th:block>
</body>
</html>
