<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Edit Practics')}"></head>
<body class="resume">
<div th:replace="~{fragments/layout :: header}"></div>
<div class="layout-content container">
  <h2>Опыт работы</h2>
  <div th:replace="~{edit/_nav :: nav}"></div>

  <form th:action="@{/edit/practics}" method="post" th:object="${form}">
    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
      <ul>
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Error</li>
      </ul>
    </div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <div id="ui-block-container">
      <div th:each="item,iter : *{items}" class="panel panel-default ui-item practic-item" th:id="|ui-item-${iter.index}|">
        <div class="panel-heading">Позиция <span th:text="${iter.index + 1}"></span>
          <button type="button" class="close pull-right" th:onclick="|$('#ui-item-${iter.index}').remove();|"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="col-sm-3 control-label">Должность</label>
            <div class="col-sm-9"><input class="form-control" type="text" th:field="*{items[__${iter.index}__].position}"/></div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Компания</label>
            <div class="col-sm-9"><input class="form-control" type="text" th:field="*{items[__${iter.index}__].company}"/></div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Начало</label>
            <div class="col-sm-4"><input class="form-control" type="date" th:field="*{items[__${iter.index}__].beginDate}"/></div>
            <label class="col-sm-1 control-label">Окончание</label>
            <div class="col-sm-1"><input type="checkbox" th:field="*{items[__${iter.index}__].finish}"/></div>
            <div class="col-sm-3"><input class="form-control" type="date" th:field="*{items[__${iter.index}__].finishDate}"/></div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Demo URL</label>
            <div class="col-sm-9"><input class="form-control" type="text" th:field="*{items[__${iter.index}__].demo}"/></div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Source URL</label>
            <div class="col-sm-9"><input class="form-control" type="text" th:field="*{items[__${iter.index}__].src}"/></div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Обязанности</label>
            <div class="col-sm-9"><textarea class="form-control" rows="3" th:field="*{items[__${iter.index}__].responsibilities}"></textarea></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a href="javascript:resume.ui.addBlock();">+ Добавить опыт</a>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-xs-12 text-center">
        <input type="submit" class="btn btn-primary" value="Сохранить">
      </div>
    </div>
  </form>
</div>
<div th:replace="fragments/layout :: footer"></div>
<th:block th:replace="fragments/layout :: scripts"></th:block>
<script id="ui-block-template" type="text/x-handlebars-template">
  <div class="panel panel-default ui-item practic-item" id="ui-item-{{blockIndex}}">
    <div class="panel-heading">Позиция {{inc blockIndex}}
      <button type="button" class="close pull-right" onclick="$('#ui-item-{{blockIndex}}').remove();"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-3 control-label">Должность</label>
        <div class="col-sm-9"><input class="form-control" type="text" name="items[{{blockIndex}}].position"/></div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Компания</label>
        <div class="col-sm-9"><input class="form-control" type="text" name="items[{{blockIndex}}].company"/></div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Начало</label>
        <div class="col-sm-4"><input class="form-control" type="date" name="items[{{blockIndex}}].beginDate"/></div>
        <label class="col-sm-1 control-label">Окончание</label>
        <div class="col-sm-1"><input type="checkbox" name="items[{{blockIndex}}].finish"/></div>
        <div class="col-sm-3"><input class="form-control" type="date" name="items[{{blockIndex}}].finishDate"/></div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Demo URL</label>
        <div class="col-sm-9"><input class="form-control" type="text" name="items[{{blockIndex}}].demo"/></div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Source URL</label>
        <div class="col-sm-9"><input class="form-control" type="text" name="items[{{blockIndex}}].src"/></div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Обязанности</label>
        <div class="col-sm-9"><textarea class="form-control" rows="3" name="items[{{blockIndex}}].responsibilities"></textarea></div>
      </div>
    </div>
  </div>
</script>
<script th:inline="javascript">
  /*<![CDATA[*/
  Handlebars.registerHelper('inc', function(value) {
    return parseInt(value) + 1;
  });
  /*]]>*/
</script>
</body>
</html>
