<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Edit Practics')}"></head>
<body class="resume">
<div th:replace="~{fragments/layout :: header}"></div>
<div class="layout-content l-container">
  <div th:replace="~{edit/_nav :: nav}"></div>

  <div class="c-panel c-panel--default">
    <div class="c-panel__body">
      <h4 class="data-header">Практический опыт</h4>
      <h6 class="u-text-center c-form__help">(Упорядоченный по убыванию)</h6>
      <hr />

      <form id="practic-form" th:action="${appHost} + @{|/${profile.uid}/edit/practics|}" method="post" th:object="${form}">
        <div th:if="${#fields.hasErrors('*')}" class="c-alert c-alert--danger">
          <ul>
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Error</li>
          </ul>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div id="ui-block-container">
          <div th:each="item,iter : *{items}" class="c-panel c-panel--default ui-item practic-item" th:id="|ui-item-${iter.index}|">
            <div class="c-panel__body">
              <div class="l-row">
                <div class="l-col l-col--xs-12">
                  <button type="button" class="c-close" th:onclick="|$('#ui-item-${iter.index}').remove();|">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
              <div class="l-row">
                <div class="l-col l-col--xs-12 l-col--md-6 c-form__group">
                  <label class="c-form__label">Должность</label>
                  <input class="c-input" type="text" th:field="*{items[__${iter.index}__].position}" placeholder="Example: Java trainee">
                </div>
                <div class="l-col l-col--xs-12 l-col--md-6 c-form__group">
                  <label class="c-form__label">Компания или организация</label>
                  <input class="c-input" type="text" th:field="*{items[__${iter.index}__].company}" placeholder="Example: DevStudy.net">
                </div>
                <div class="l-col l-col--xs-12 l-col--md-6 c-form__group">
                  <label class="c-form__label">Дата начала</label>
                  <input class="c-input" type="date" th:field="*{items[__${iter.index}__].beginDate}">
                </div>
                <div class="l-col l-col--xs-12 l-col--md-6 c-form__group">
                  <label class="c-form__label">Дата завершения</label>
                  <input class="c-input" type="date" th:field="*{items[__${iter.index}__].finishDate}">
                  <div class="c-checkbox" style="margin-top:6px;">
                    <label><input type="checkbox" th:field="*{items[__${iter.index}__].finish}"> Not finished yet</label>
                  </div>
                </div>
                <div class="l-col l-col--xs-12 l-col--md-12 c-form__group">
                  <label class="c-form__label">Обязанности/Достижения</label>
                  <textarea class="c-input" rows="2" th:field="*{items[__${iter.index}__].responsibilities}" placeholder="Коротко про ключові задачі та досягнення"></textarea>
                </div>
                <div class="l-col l-col--xs-12 l-col--md-6 c-form__group">
                  <label class="c-form__label">Ссылка на demo</label>
                  <input class="c-input" type="text" th:field="*{items[__${iter.index}__].demo}" placeholder="Example: http://resume.devstudy.net">
                </div>
                <div class="l-col l-col--xs-12 l-col--md-6 c-form__group">
                  <label class="c-form__label">Исходный код</label>
                  <input class="c-input" type="text" th:field="*{items[__${iter.index}__].src}" placeholder="Example: https://github.com/devstudy-net/resume">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="l-row">
          <div class="l-col l-col--xs-12">
            <a href="javascript:resume.ui.addBlock();">+ Добавить</a>
          </div>
        </div>
        <hr />
        <div class="l-row">
          <div class="l-col l-col--xs-12 u-text-center">
            <input type="submit" class="c-button c-button--primary" value="Сохранить">
            <a th:href="${appHost} + @{|/${profile.uid}/edit/certificates|}" class="c-button c-button--secondary" style="margin-left:8px;">Далі</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div th:replace="~{fragments/layout :: footer}"></div>
<th:block th:replace="~{fragments/layout :: scripts-base}"></th:block>
<th:block th:replace="~{fragments/layout :: scripts-edit}"></th:block>
<script id="ui-block-template" type="text/x-handlebars-template">
  <div class="c-panel c-panel--default ui-item practic-item" id="ui-item-{{blockIndex}}">
    <div class="c-panel__heading">Позиция {{inc blockIndex}}
      <button type="button" class="c-close u-pull-right" onclick="$('#ui-item-{{blockIndex}}').remove();"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="c-panel__body">
      <div class="c-form__group">
        <label class="l-col l-col--sm-3 c-form__label">Должность</label>
        <div class="l-col l-col--sm-9"><input class="c-input" type="text" name="items[{{blockIndex}}].position"/></div>
      </div>
      <div class="c-form__group">
        <label class="l-col l-col--sm-3 c-form__label">Компания</label>
        <div class="l-col l-col--sm-9"><input class="c-input" type="text" name="items[{{blockIndex}}].company"/></div>
      </div>
      <div class="c-form__group">
        <label class="l-col l-col--sm-3 c-form__label">Начало</label>
        <div class="l-col l-col--sm-4"><input class="c-input" type="date" name="items[{{blockIndex}}].beginDate"/></div>
        <label class="l-col l-col--sm-1 c-form__label">Окончание</label>
        <div class="l-col l-col--sm-1"><input type="checkbox" name="items[{{blockIndex}}].finish"/></div>
        <div class="l-col l-col--sm-3"><input class="c-input" type="date" name="items[{{blockIndex}}].finishDate"/></div>
      </div>
      <div class="c-form__group">
        <label class="l-col l-col--sm-3 c-form__label">Demo URL</label>
        <div class="l-col l-col--sm-9"><input class="c-input" type="text" name="items[{{blockIndex}}].demo"/></div>
      </div>
      <div class="c-form__group">
        <label class="l-col l-col--sm-3 c-form__label">Source URL</label>
        <div class="l-col l-col--sm-9"><input class="c-input" type="text" name="items[{{blockIndex}}].src"/></div>
      </div>
      <div class="c-form__group">
        <label class="l-col l-col--sm-3 c-form__label">Обязанности</label>
        <div class="l-col l-col--sm-9"><textarea class="c-input" rows="3" name="items[{{blockIndex}}].responsibilities"></textarea></div>
      </div>
    </div>
  </div>
</script>
<script th:inline="javascript">
  /*<![CDATA[*/
  Handlebars.registerHelper('inc', function(value) {
    return parseInt(value) + 1;
  });
  /*]]>*/
</script>
<script>
  (function() {
    var form = document.getElementById('practic-form');
    if (!form) return;

    form.addEventListener('submit', function(e) {
      var blocks = Array.prototype.slice.call(form.querySelectorAll('.practic-item'));
      var hasError = false;
      var keptBlocks = [];

      blocks.forEach(function(block) {
        var getVal = function(selector) {
          var el = block.querySelector(selector);
          return el && el.value ? el.value.trim() : '';
        };
        var position = getVal('input[name*="position"]');
        var company = getVal('input[name*="company"]');
        var begin = getVal('input[name*="beginDate"]');
        var responsibilities = getVal('textarea[name*="responsibilities"]');

        var anyFilled = position || company || begin || responsibilities;
        var allFilled = position && company && begin && responsibilities;

        if (!anyFilled) {
          block.remove(); // повністю порожні блоки не відправляємо
          return;
        }

        keptBlocks.push(block);

        block.classList.remove('has-error');
        if (!allFilled) {
          hasError = true;
          block.classList.add('has-error');
        }
      });

      if (keptBlocks.length === 0) {
        e.preventDefault();
        alert('Додайте хоча б одну практику перед збереженням.');
        return;
      }

      if (hasError) {
        e.preventDefault();
        alert('Для кожної доданої практики заповніть посаду, компанію, дату початку та обов\'язки.');
      }
    });
  })();
</script>
</body>
</html>
