.timeline {
  --timeline-line-color: #d4d4d4;
  --timeline-date-color: #555;
  --timeline-panel-border-color: #d4d4d4;
  --timeline-arrow-outer-color: #ccc;
  --timeline-arrow-inner-color: #fff;
  --timeline-badge-bg: #999999;
  --timeline-badge-color: #fff;
  --timeline-badge-size: 50px;
  --timeline-badge-font-size: 1.4em;
  list-style: none;
  padding: 20px 15px 0 0;
  position: relative;
}

.timeline::before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: var(--timeline-line-color);
  left: 50%;
  margin-left: -1px;
}

.timeline .dates {
  color: var(--timeline-date-color);
}

.timeline > li {
  position: relative;
}

.timeline > li::before,
.timeline > li::after {
  content: "";
  display: table;
}

.timeline > li::after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid var(--timeline-panel-border-color);
  border-radius: 2px;
  padding: 20px;
  margin-left: 90px;
  margin-bottom: 20px;
  position: relative;
}

.timeline > li > .timeline-panel::before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid var(--timeline-arrow-outer-color);
  border-right: 0 solid var(--timeline-arrow-outer-color);
  border-bottom: 15px solid transparent;
  content: "";
}

.timeline > li > .timeline-panel::after {
  position: absolute;
  top: 27px;
  left: -14px;
  right: auto;
  display: inline-block;
  border-top: 14px solid transparent;
  border-right: 14px solid var(--timeline-arrow-inner-color);
  border-left: 0 solid var(--timeline-arrow-inner-color);
  border-bottom: 14px solid transparent;
  content: "";
}

.timeline > li.timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

ul.timeline::before {
  left: 40px;
}

ul.timeline > li > .timeline-panel {
  width: calc(100% - 90px);
  float: right;
}

ul.timeline > li > .timeline-badge {
  left: 15px;
  margin-left: 0;
  top: 16px;
}

ul.timeline > li > .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

ul.timeline > li > .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline > li > .timeline-badge {
  color: var(--timeline-badge-color);
  width: var(--timeline-badge-size);
  height: var(--timeline-badge-size);
  line-height: var(--timeline-badge-size);
  font-size: var(--timeline-badge-font-size);
  text-align: center;
  position: absolute;
  top: 16px;
  left: 40px;
  margin-left: -25px;
  background-color: var(--timeline-badge-bg);
  z-index: 100;
  border-radius: 50%;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}
