<div class="l-container">
  <ul class="c-nav c-nav--tabs" style="margin-bottom: 15px;">
    <li routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/edit/profile">Main</a>
    </li>
    <li routerLinkActive="is-active">
      <a routerLink="/edit/contacts">Contacts</a>
    </li>
    <li routerLinkActive="is-active">
      <a routerLink="/edit/skills">Skills</a>
    </li>
    <li routerLinkActive="is-active">
      <a routerLink="/edit/practics">Practics</a>
    </li>
    <li routerLinkActive="is-active">
      <a routerLink="/edit/certificates">Certificates</a>
    </li>
    <li routerLinkActive="is-active">
      <a routerLink="/edit/education">Education</a>
    </li>
    <li routerLinkActive="is-active">
      <a routerLink="/edit/courses">Courses</a>
    </li>
    <li routerLinkActive="is-active">
      <a routerLink="/edit/languages">Languages</a>
    </li>
    <li routerLinkActive="is-active">
      <a routerLink="/edit/hobbies">Hobbies</a>
    </li>
    <li routerLinkActive="is-active">
      <a routerLink="/edit/info">Additional</a>
    </li>
    <li routerLinkActive="is-active">
      <a routerLink="/edit/password">Password</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
