<div *ngIf="loading" class="u-text-center">
  <img src="/assets/img/large-loading.gif" alt="loading">
</div>

<div *ngIf="!loading">
  <div class="c-panel c-panel--default">
    <div class="c-panel__body">
      <h4 class="data-header">Profile basics</h4>
      <div class="l-row" style="margin-top: 12px;">
        <div class="l-col l-col--xs-12 l-col--sm-4">
          <img class="u-img-responsive" [src]="photoUrl" alt="Profile photo" />
          <div class="c-form__group" style="margin-top: 10px;">
            <input type="file" class="c-input" (change)="onPhotoSelected($event)" />
          </div>
          <div class="c-form__group">
            <button type="button" class="c-button c-button--primary c-button--block" (click)="uploadPhoto()">
              Upload photo
            </button>
          </div>
          <div class="c-form__group">
            <button type="button" class="c-button c-button--secondary c-button--block" (click)="removePhoto()">
              Remove photo
            </button>
          </div>
        </div>
        <div class="l-col l-col--xs-12 l-col--sm-8">
          <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="l-row">
              <div class="l-col l-col--xs-12 l-col--sm-6 c-form__group">
                <label class="c-form__label">Birth date</label>
                <input type="date" class="c-input" formControlName="birthDay" />
              </div>
              <div class="l-col l-col--xs-12 l-col--sm-6 c-form__group">
                <label class="c-form__label">City</label>
                <input type="text" class="c-input" formControlName="city" />
              </div>
              <div class="l-col l-col--xs-12 l-col--sm-6 c-form__group">
                <label class="c-form__label">Country</label>
                <input type="text" class="c-input" formControlName="country" />
              </div>
              <div class="l-col l-col--xs-12 l-col--sm-6 c-form__group">
                <label class="c-form__label">Email</label>
                <input type="email" class="c-input" formControlName="email" />
              </div>
              <div class="l-col l-col--xs-12 l-col--sm-6 c-form__group">
                <label class="c-form__label">Phone</label>
                <input type="text" class="c-input" formControlName="phone" />
              </div>
            </div>

            <div class="l-row">
              <div class="l-col l-col--xs-12 c-form__group">
                <label class="c-form__label">Objective</label>
                <input id="inputObjective" type="text" class="c-input" formControlName="objective" />
              </div>
              <div class="l-col l-col--xs-12 c-form__group">
                <label class="c-form__label">Summary</label>
                <textarea class="c-input" rows="3" formControlName="summary"></textarea>
              </div>
              <div class="l-col l-col--xs-12 c-form__group">
                <label class="c-form__label">Additional info</label>
                <textarea class="c-input" rows="3" formControlName="info"></textarea>
              </div>
            </div>

            <div class="l-row">
              <div class="l-col l-col--xs-12 l-col--sm-6 c-form__group">
                <label class="c-form__label">Facebook</label>
                <input type="text" class="c-input" formControlName="facebook" />
              </div>
              <div class="l-col l-col--xs-12 l-col--sm-6 c-form__group">
                <label class="c-form__label">LinkedIn</label>
                <input type="text" class="c-input" formControlName="linkedin" />
              </div>
              <div class="l-col l-col--xs-12 l-col--sm-6 c-form__group">
                <label class="c-form__label">GitHub</label>
                <input type="text" class="c-input" formControlName="github" />
              </div>
              <div class="l-col l-col--xs-12 l-col--sm-6 c-form__group">
                <label class="c-form__label">Stack Overflow</label>
                <input type="text" class="c-input" formControlName="stackoverflow" />
              </div>
            </div>

            <div *ngIf="successMessage" class="c-alert c-alert--success" style="margin-top: 10px;">
              {{ successMessage }}
            </div>
            <div *ngIf="errorMessage" class="c-alert c-alert--danger" style="margin-top: 10px;">
              {{ errorMessage }}
            </div>
            <button type="submit" class="c-button c-button--primary" [disabled]="saving">
              {{ saving ? 'Saving...' : 'Save profile' }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
