<div class="c-panel c-panel--default">
  <div class="c-panel__body">
    <h4 class="data-header">Change password</h4>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="c-form__group">
        <label class="c-form__label">Current password</label>
        <input type="password" class="c-input" formControlName="currentPassword" />
      </div>
      <div class="c-form__group">
        <label class="c-form__label">New password</label>
        <input type="password" class="c-input" formControlName="newPassword" />
      </div>
      <div class="c-form__group">
        <label class="c-form__label">Confirm password</label>
        <input type="password" class="c-input" formControlName="confirmPassword" />
      </div>
      <div *ngIf="successMessage" class="c-alert c-alert--success" style="margin-top: 10px;">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="c-alert c-alert--danger" style="margin-top: 10px;">
        {{ errorMessage }}
      </div>
      <button type="submit" class="c-button c-button--primary">Update password</button>
    </form>
  </div>
</div>
