<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/layout :: head('My Resume')}"></head>

<body class="resume">
  <div th:replace="~{fragments/layout :: header}"></div>
  <div class="layout-content">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1 class="text-center caption">
          Web система 'My Resume' - створіть Ваше резюме у 10 кліків
        </h1>
      </div>
    </div>
    <div class="row profiles">
      <div id="profileContainer" class="col-xs-12"
           th:attr="data-profile-total=${page.totalPages},data-profile-number=${page.number}">
        <div th:replace="~{profiles :: items(${profiles})}"></div>
      </div>
      <div id="loadMoreContainer" class="col-xs-12 text-center"
           th:if="${page.number < page.totalPages - 1}">
        <a class="btn btn-primary"
           th:attr="href=|javascript:resume.moreProfiles('${query}')|">Загрузить еще</a>
      </div>
      <div id="loadMoreIndicator" class="col-xs-12 text-center" style="display:none;"
           th:if="${page.number < page.totalPages - 1}">
        <img th:src="@{/img/large-loading.gif}" alt="loading...">
      </div>
    </div>
  </div>
  <div th:replace="~{fragments/layout :: footer}"></div>
  <th:block th:replace="~{fragments/layout :: scripts-base}"></th:block>
</body>

</html>
