<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/layout :: head('My Resume')"></head>

<body class="resume">
  <div th:replace="fragments/layout :: header"></div>
  <div class="layout-content">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1 class="text-center caption">
          Web система 'My Resume' - создайте Ваше резюме в 10 кликов
        </h1>

        <img class="img-responsive" th:src="@{/img/logo-large.png}" alt="logo-large" style="width: 100%;">

        <ul>
          <li th:each="userProfile : ${profiles}"
            th:text="|${userProfile.firstName} ${userProfile.lastName} (${userProfile.uid})|">
            John Doe</li>
        </ul>
      </div>
    </div>
    <th:block th:replace="~{profiles :: content}">

    </th:block>
  </div>
  <div th:replace="fragments/layout :: footer"></div>
  <th:block th:replace="fragments/layout :: scripts"></th:block>
</body>

</html>
