apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
  - postgres-auth.yaml
  - postgres-profile.yaml
  - postgres-staticdata.yaml
  - elasticsearch.yaml
  - rabbitmq.yaml
  - rabbitmq-config.yaml

generatorOptions:
  disableNameSuffixHash: true

secretGenerator:
  - name: resume-outbox-db
    behavior: replace
    literals:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://resume-profile-db:5432/resume_profile
      - SPRING_DATASOURCE_USERNAME=resume
      - SPRING_DATASOURCE_PASSWORD=resume
  - name: resume-outbox-auth-db
    behavior: replace
    literals:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://resume-auth-db:5432/resume_auth
      - SPRING_DATASOURCE_USERNAME=resume
      - SPRING_DATASOURCE_PASSWORD=resume
  - name: resume-rabbitmq
    behavior: replace
    literals:
      - RABBITMQ_HOST=resume-rabbitmq
      - RABBITMQ_PORT=5672
      - RABBITMQ_USER=guest
      - RABBITMQ_PASS=guest
