apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
  - postgres-auth.yaml
  - postgres-profile.yaml
  - postgres-staticdata.yaml
  - kafka.yaml
  - elasticsearch.yaml
