<div th:fragment="nav" th:with="uri=${#httpServletRequest != null ? #httpServletRequest.requestURI : ''},
                               base=${profile != null ? appHost + '/' + profile.uid + '/edit' : appHost + '/edit'}">
  <ul class="c-nav c-nav--tabs" style="margin-bottom: 15px;">
    <li th:classappend="${uri.endsWith('/profile')}? ' is-active'">
      <a th:href="${base + '/profile'}">Основное</a>
    </li>
    <li th:classappend="${uri.endsWith('/contacts')}? ' is-active'">
      <a th:href="${base + '/contacts'}">Контакты</a>
    </li>
    <li th:classappend="${uri.endsWith('/skills')}? ' is-active'">
      <a th:href="${base + '/skills'}">Технические навыки</a>
    </li>
    <li th:classappend="${uri.endsWith('/practics')}? ' is-active'">
      <a th:href="${base + '/practics'}">Практический опыт</a>
    </li>
    <li th:classappend="${uri.endsWith('/certificates')}? ' is-active'">
      <a th:href="${base + '/certificates'}">Сертификаты</a>
    </li>
    <li th:classappend="${uri.endsWith('/education')}? ' is-active'">
      <a th:href="${base + '/education'}">Образование</a>
    </li>
    <li th:classappend="${uri.endsWith('/courses')}? ' is-active'">
      <a th:href="${base + '/courses'}">Курсы</a>
    </li>
    <li th:classappend="${uri.endsWith('/languages')}? ' is-active'">
      <a th:href="${base + '/languages'}">Языки</a>
    </li>
    <li th:classappend="${uri.endsWith('/hobbies')}? ' is-active'">
      <a th:href="${base + '/hobbies'}">Хобби</a>
    </li>
    <li th:classappend="${uri.endsWith('/info')}? ' is-active'">
      <a th:href="${base + '/info'}">Дополнительно</a>
    </li>
    <li th:classappend="${uri.endsWith('/password')}? ' is-active'">
      <a th:href="${base + '/password'}">Password</a>
    </li>
  </ul>
</div>
