server:
  port: 8081

spring:
  application:
    name: resume-auth-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/resume}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
  jpa:
    open-in-view: false
  flyway:
    enabled: true
  mail:
    host: ${SPRING_MAIL_HOST:}
    port: ${SPRING_MAIL_PORT:}
    username: ${SMTP_USER:}
    password: ${SMTP_PASS:}

app:
  search:
    elasticsearch:
      enabled: false
